Options -Indexes
<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>

RewriteEngine on
RewriteRule ^$ /index.php [L,QSA]
RewriteRule ^get_list_api$ /index.php?page=index/get_list_api [L,QSA]
RewriteRule ^get_search_api$ /index.php?page=index/get_search_api [L,QSA]
RewriteRule ^post_notice_api$ /index.php?page=index/post_notice_api [L,QSA]
RewriteRule ^login$ /index.php?page=index/login [L,QSA]
RewriteRule ^logout$ /index.php?page=index/logout [L,QSA]
RewriteRule ^about$ /index.php?page=index/about [L,QSA]
RewriteRule ^(api/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(popup/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(service/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(sessions/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^category/([_0-9]+)/search/t/([0-9]+)/(.*)$ /index.php?page=search/index&main_category_id=$1&pagenum=$2&t=$3 [L,QSA]
RewriteRule ^category/([_0-9]+)/search/t/(.*)$ /index.php?page=search/index&main_category_id=$1&t=$2 [L,QSA]
RewriteRule ^category/([_0-9]+)/search/([0-9]+)/(.*)$ /index.php?page=search/index&main_category_id=$1&pagenum=$2&q=$3 [L,QSA]
RewriteRule ^category/([_0-9]+)/search/(.*)$ /index.php?page=search/index&main_category_id=$1&q=$2 [L,QSA]
RewriteRule ^category/([_0-9]+)/([0-9]+)/$ /index.php?page=search/index&main_category_id=$1&pagenum=$2 [L,QSA]
RewriteRule ^category/([_0-9]+)/$ /index.php?page=search/index&main_category_id=$1 [L,QSA]
RewriteRule ^category/$ /index.php?page=search/index
RewriteRule ^member/search/([0-9]+)/(.*)$ /index.php?page=search/member/index&pagenum=$1&q=$2 [L,QSA]
RewriteRule ^member/search/(.*)$ /index.php?page=search/member/index&q=$1 [L,QSA]
RewriteRule ^consult/search/([0-9]+)/(.*)$ /index.php?page=search/consult/index&pagenum=$1&q=$2 [L,QSA]
RewriteRule ^consult/search/(.*)$ /index.php?page=search/consult/index&q=$1 [L,QSA]
RewriteRule ^search/t/([0-9]+)/(.*)$ /index.php?page=search/index&t=$2&pagenum=$1 [L,QSA]
RewriteRule ^search/t/(.*)$ /index.php?page=search/index&t=$1 [L,QSA]
#RewriteRule ^search/private/([0-9]+)/(.*)$ /index.php?page=search/index&qopt=private&pagenum=$1&q=$2 [L,QSA]
#RewriteRule ^search/private/(.*)$ /index.php?page=search/index&qopt=private&q=$1 [L,QSA]
RewriteRule ^search/([0-9]+)/(.*)$ /index.php?page=search/index&pagenum=$1&q=$2 [L,QSA]
RewriteRule ^search/(.*)$ /index.php?page=search/index&q=$1 [L,QSA]
RewriteRule ^user/mypage/consult/post_reply_api$ /index.php?page=user/mypage/consult/post_reply_api [L,QSA]
RewriteRule ^user/mypage/consult/([0-9]+)/$ /index.php?page=user/mypage/consult/index&consult_id=$1 [L,QSA]
RewriteRule ^user/mypage/consult/([0-9]+)/review_confirm$ /index.php?page=user/mypage/consult/review_confirm&consult_id=$1 [L,QSA]
RewriteRule ^user/mypage/consult/([0-9]+)/review_complete$ /index.php?page=user/mypage/consult/review_complete&consult_id=$1 [L,QSA]
RewriteRule ^user/mypage/consult/([0-9]+)/([0-9]+)/review_share$ /index.php?page=user/mypage/consult/review_share&consult_id=$1&consult_review_id=$2 [L,QSA]
#RewriteRule ^user/mypage/advice/([0-9]+)/$ /index.php?page=user/mypage/advice/index&advice_id=$1 [L,QSA]
RewriteRule ^(user/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(qa/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(help/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(terms/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(contact/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^(rss/.*)$ /index.php?page=$1 [L,QSA]
RewriteRule ^advice/([0-9]+)/entry$ /index.php?page=advice/entry&advice_id=$1 [L,QSA]
RewriteRule ^advice/([0-9]+)/confirm$ /index.php?page=advice/confirm&advice_id=$1 [L,QSA]
RewriteRule ^advice/([0-9]+)/complete$ /index.php?page=advice/complete&advice_id=$1 [L,QSA]
RewriteRule ^advice/([0-9]+)/$ /index.php?page=advice/index&advice_id=$1 [L,QSA]
RewriteRule ^advice/([0-9]+)/([0-9]+)/$ /index.php?page=advice/consult/thread&advice_id=$1&consult_id=$2 [L,QSA]
#RewriteRule ^advice/([0-9]+)/consult/([0-9]+)/$ /index.php?page=advice/consult/index&advice_id=$1&consult_id=$2 [L,QSA]
RewriteRule ^advice/([0-9]+)/([0-9]+)/([0-9]+)/$ /index.php?page=advice/consult/reply&advice_id=$1&consult_id=$2&consult_reply_id=$3 [L,QSA]
RewriteRule ^advice/consult/([0-9]+)/$ /index.php?page=advice/consult/index&consult_id=$1 [L,QSA]
RewriteRule ^advice/review/([0-9]+)/$ /index.php?page=advice/review/index&consult_review_id=$1 [L,QSA]
RewriteRule ^profile/([0-9]+)/$ /index.php?page=profile/index&user_id=$1 [L,QSA]
#RewriteRule ^(admin/.*)$ /admin_index.php?page=$1 [L,QSA]
RewriteRule ^ad-admin/(.*)$ /admin_index.php?page=admin/$1 [L,QSA]
RewriteRule ^admin_userauth$ /index.php?page=index/admin_userauth [L,QSA]
RewriteRule ^sitemap\.xml$ /index.php?page=index/sitemap [L]

ErrorDocument 404 /index.php?page=index/notfound
